<p-toast position="top-right" key="tl"></p-toast>

<div class="main-content">
  <div class="container-fluid p-0">
    <div class="login-block">
      <img
        class="logo"
        src="../../../../assets/images/logo.svg"
        widt="200"
        height="60"
        alt="logo"
      />
      <div class="login-background p-grid h-100 w-100">
        <div
          class="
            p-col-12 p-md-12 p-lg-6 p-sm-12
            d-flex
            flex-column
            align-items-center
            justify-content-center
            ml-auto
          "
        >
          <div
            class="
              login-form
              d-flex
              flex-column
              justify-content-center
              align-items-center
            "
          >
            <div class="login-form-content">
              <h2>
                <a (click)="goBack()">OTP Verification</a>
              </h2>
              <p class="text-email">
                You will receive an OTP on you registered Email-ID
                <span> ({{ userEmail }}) </span>for Verification.
              </p>
              <form>
                <label for="userId">OTP</label>

                <ng-otp-input
                  (onInputChange)="onOtpChange($event)"
                  [config]="{ length: 4, allowNumbersOnly: true }"
                ></ng-otp-input>
                <p class="error-msg" *ngIf="invalidOtp">Invalid OTP</p>
                <div class="forgot-password">
                  <div class="flexHolder">
                    <div>
                      <label class="flexLabel pr-2"
                        >Didn't receive any OTP?
                      </label>
                    </div>
                    <ul
                      class="
                        d-flex
                        justify-content-between
                        align-items-center
                        p-0
                      "
                    >
                      <li>
                        <a (click)="resendOtp()">Resend OTP</a>
                      </li>
                      <li>
                        <p-progressSpinner
                          *ngIf="resendingOtp"
                          [style]="{ width: '30px', height: '30px' }"
                          styleClass="custom-spinner"
                          strokeWidth="3"
                          animationDuration="1s"
                        ></p-progressSpinner>
                      </li>
                    </ul>
                  </div>
                </div>
                <button
                  pButton
                  label="Verify"
                  class="button"
                  type="button"
                  [disabled]="disableSubmit"
                  (click)="verifyOtp()"
                  value="Submit"
                ></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
