<!-- <app-sidebar></app-sidebar> -->
<div class="company-blk">
  <app-navbar (logoutConfirm)="onLogout($event)"></app-navbar>
  <div class="companies-blk d-flex align-items-center">
    <div class="companies-left">
      <h3>
        Companies <span>{{ companyList.length }}</span>
      </h3>
    </div>
    <div class="companies-right d-flex ml-auto align-items-center">
      <div class="status">
        <ul class="d-flex status m-0 p-0">
          <li>
            <label for="active">
              <input
                type="radio"
                value="1"
                name="active"
                id="active"
                [(ngModel)]="companyStatus"
                (ngModelChange)="onChangeStatus($event)"
              /><span>Active</span>
            </label>
          </li>
          <li>
            <label for="inactive">
              <input
                type="radio"
                value="0"
                name="active"
                id="inactive"
                [(ngModel)]="companyStatus"
                (ngModelChange)="onChangeStatus($event)"
              /><span>Inactive</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="add-company">
        <button
          *ngIf="isSuperAdmin"
          pButton
          label="Add Company"
          class="button-add"
          type="button"
          routerLink="/add-company"
        ></button>
      </div>
    </div>
  </div>
  <div class="companies-list">
    <ul class="row d-flex flex-wrap p-0">
      <li
        class="col-lg-6 clo-md-6 col-sm-6 col-xl-3"
        *ngFor="let company of companyList"
      >
        <div
          class="companies-cnt"
          (click)="viewCompanyDetails(company?.compayId)"
        >
          <div class="company-logo text-center">
            <figure class="d-flex align-items-center justify-content-center">
              <em
                [ngClass]="{
                  'com-active': company?.isActive,
                  'com-inactive': !company?.isActive
                }"
                ><img
                  [src]="'data:image/png;base64,' + company?.companyLogo"
                  onError="this.src='../../../../assets/images/no-logo.png'"
                  width="60"
                  height="60"
                  alt="logo"
                  class="profile-img"
              /></em>
              <!-- data:image/png;base64, -->
            </figure>
            <strong>{{ company?.compayName | titlecase }}</strong>
            <p>
              {{ company?.branchCount }}
              {{ company?.branchCount > 1 ? "Branches" : "Branch" }}
            </p>
          </div>
          <div class="company-active-list">
            <ul class="d-flex justify-content-between m-0 p-0">
              <li>
                <h4>{{ company?.employeeActiveCount }}</h4>
                <p><span class="active"></span>Active Emp.</p>
              </li>
              <li>
                <h4>{{ company?.employeeInactiveCount }}</h4>
                <p><span class="inactive"></span>Inactive Emp.</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<p-confirmDialog
  [style]="{ width: '25vw' }"
  header="Logout"
  acceptLabel="YES, LOGOUT"
  rejectLabel="CANCEL"
  acceptIcon=""
  rejectIcon=""
  defaultFocus="none"
></p-confirmDialog>
