$themeTextColor: #0f92af;
$greenTextColor: #28af00;
$redTextColor: #e23143;
$themeButtonHoverColor: #18798e;
$greyTextColor: #758487;
$blackTextColor: #041519;
$font16: 16px;
$font14: 14px;
$font28: 28px;
$profileImgHeight: 130px;
$font18: 18px;
$font24: 24px;
